*{
    /* background-color: gray; */
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

h1{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    text-decoration: line-through;
    text-transform: capitalize;
    font-weight: bold;
    line-height: 1px;
    letter-spacing: 10px;
}

/* h2{
    color: blue;
} */

/* p{
    color: aqua;
} */

#Lang > h1,
#Lang > h2,
#Lang > h3,
#Lang > h4,
#Lang > h5,
#Lang > p{
    color: #0ac94a;
}

/* p{
    background-color: yellow;
    background-image: url(./Assets/7d9fe97137c6c8dadd1caa996ce71ba1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: gray;
    opacity: 1;
} */

.Container{
    width: 13rem;
    height: 13rem;
    background-color: red;
    /* padding-left: 20px;
    padding-top: 50px; */
    padding: 50px 0 0 20px;
    /* border-right: 20px solid black;
    border-bottom: 30px solid greenyellow; */
    border: 10px solid blue;
    /* margin-left: 100px;
    margin-top: 150px; */
    /* margin: 30px 50px 70px 90px; */
    border-radius: 50px;
}

.bluebox{
    width: 300px;
    height: 300px;
    background-color: blue;
    position: sticky;
    /* margin-top: 70px; */
    top: 0;
}

.redbox{
    width: 100px;
    height: 100px;
    background-color: red;
    /* position: fixed; */
    /* left: 50px; */
    /* top: 50px; */
}

.box1{
    width: 300px;
    height: 100px;
    background-color: red;
    /* flex: 1;
    order: 2; */
}

.box2{
    width: 600px;
    height: 100px;
    background-color: blue;
    /* flex: 1; */
    /* order: 3; */
}

.box3{
    width: 400px;
    height: 100px;
    background-color: green;
    /* flex: 1;
    order: 1; */
}

.box4{
    width: 500px;
    height: 100px;
    background-color: yellow;
}

.box5{
    width: 700px;
    height: 100px;
    background-color: violet;
}

.container{
    display: flex;
    flex-direction: row;
    /* justify-content: start; */
    /* height: 500px; */
    /* border: 2px solid black; */
    /* align-items: start; */
    /* gap: 10px; */
    flex-wrap: wrap;
    gap: 10px;
    /* align-content: space-between; */
}

.box6{
    width: 200px;
    height: 100px;
    background-color: darkblue;
}

.box7{
    width: 300px;
    height: 100px;
    background-color: darkcyan;
}

.box8{
    width: 200px;
    height: 100px;
    background-color: darkgray;
}

.box9{
    width: 100px;
    height: 100px;
    background-color: darkmagenta;
}

.box10{
    width: 100px;
    height: 100px;
    background-color: darkorange;
}

.para{
    padding: 20px;
    background-color: darkslateblue;
    color: white;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,minmax(200px,1fr));
    grid-template-rows: repeat(3,400px);
}

.item{
    background-color: green;
    font-size: 50px;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
}

.outerbox{
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(3,1fr);
    /* row-gap: 20px;
    column-gap: 40px; */
    gap: 20px;
}

.items1{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: span 3;
}

.items2{
    grid-row: span 3;
}

.layout > div{
    border: 1px solid black;
    background-color: #ebabac;
    font-size: 50px;
    font-weight: bold;
    display: grid;
    justify-content: center;
    align-items: center;
}
.layout{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: 
    "z z z z"
    "sb1 m m sb2"
    "f f f f";
}

.header{
    grid-area: z;
}

.Footer{
    grid-area: f;
}

.Sidebar1{
    grid-area: sb1;
}

.Sidebar2{
    grid-area: sb2;
}

.Main{
    grid-area: m;
}